<div class="container-fluid bg-p-landing h-custom mb-custom">
  <h1 class="pt-5 text-center monsterrat heading-color fs">find your <span class="bold">perfect space.</span></h1>
  <div class="search shadow p-2 mt-3 mx-auto bg-white d-flex flex-row">
    <div class="px-1 d-flex align-items-center"><%= image_tag("landing_page/search-icon.png", size: "20x20", class: "search-img") %></div>
    <div class="mx-4 quicksand placeholder-color semiBold">search</div>
  </div>
</div>