<div class="container-fluid d-flex flex-column align-items-center justify-content-center mb-custom" style="margin-bottom: 115px;">
  <h1 class="text-center monsterrat heading-color semiBold">how to rent?</span></h1>
  <h5 class="text-center quicksand grey">grab your perfect space in five easy steps!</span></h5>
  <%= image_tag("landing_page/steps.png", style: "width: 80%; margin-top: 3rem;", class: "process-img") %>
</div>