<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
  <h1 class="text-center monsterrat heading-color semiBold mb-3">ready to find your new place?</span></h1>
  <%= button_to "let's go!", root_path, method: :get, class: "lp-q-button" %>
</div>
  <%= image_tag("landing_page/houses.png", style: "width: 100%; margin-top: 5rem;", class: "mb-custom") %>
