<div id="carouselExampleControls" class="carousel slide mb-sr shadow-lg">
  <div class="carousel-inner">
    <% @room.images.each.with_index do |image, index| %>
      <% if image.content_type.in?(%w[ image/jpeg image/png ]) %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <%= link_to image_tag(image), image, target: "_blank", class: "d-block w-100" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>