<% if @room.images.present? and @room.images.count > 1 %>
  <div class="multi-carousel mb-5" id="carousel" data-mdb-items="2">
    <div class="multi-carousel-inner">
      <% @room.images.each do |image| %>
        <div class="multi-carousel-item" style="width: 50%; margin-left: 0px;">
          <%= image_link_to_images(@room, image) %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" tabindex="0" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" tabindex="0" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
  <%= javascript_include_tag "carousel.js" %>
<% elsif @room.images.present? %>
  <div class="mb-5 w-fit mx-auto">
    <%= image_link_to_images(@room, @room.images.first) %>
  </div>
<% else %>
  <%= image_tag "nia.png", class: "d-block mx-auto mb-5", style: "height: 400px;" %>
<% end %>