<div class="container-fluid mb-custom">
  <h3 class="text-center monsterrat heading-color semiBold p-3 m-3" style="margin: 0px;">Properties for Rent</h3>
  <%= render "search_form",
    map_params: { near: params[:place], distance: @distance,
    rent: @rent }, selected: @sort_option.join("-") %>
  <div class="d-flex flex-wrap justify-content-center">
    <% @rooms.each do |room| %>
      <%= render "room", room: room %>
    <% end %>
  </div>
</div>
