<div class="container-fluid mb-custom">
  <h3 class="text-center monsterrat heading-color semiBold p-3 m-3" style="margin: 0px;">Properties for Rent</h3>
  <%= render "search_form",
    map_params: { place: params[:place], distance: @distance,
    rent: @rent }, selected: @sort_option[0] == :updated_at ? nil : @sort_option.join("-") %>
  <div class="d-flex flex-wrap justify-content-center">
    <% @pagy_rooms.each do |room| %>
      <%= render "room", room: room %>
    <% end %>
  </div>
  <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
