.f-modal {
  position: absolute;
  z-index: 1;
  width: 15%;
  height: 40px;
  top: 95px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  animation: fadeIn 0.3s;
  transition: 0.3s;
  cursor: pointer;

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: white;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}