<div class="container-fluid bg-p-options mb-custom d-flex align-items-center justify-content-center">
  <%= render "form", location: @location, cities: @cities, lat: @latitude, lng: @longitude, query: @query %>
</div>