<% if notice or alert %>
  <div class="f-modal rounded text-white quicksand <%= notice ? "bg-success" : "bg-danger" %>" id="flash-modal">
    <span class="opacity-75"><%= notice ? notice : alert %></span>
  </div>
  <script defer>
    var flashModal = document.getElementById("flash-modal");
    var timeout;

    function fade() {
      flashModal.style.opacity = 0;
      setTimeout(function() {
        flashModal.remove()
      }, 100)
    }

    flashModal.addEventListener('click', () => {
      flashModal.remove()
      clearTimeout(timeout);
    })

    timeout = setTimeout(fade, 3000);
  </script>
<% end %>

