<nav class="navbar navbar-expand-md bg-white">
  <div class="container-xxl">
    <%= link_to image_tag("landing_page/logo.png"), root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link" href="#dorms">find a home</a>
        </li>
        <li class="nav-item me-3">
          <%# <a class="nav-link" href="#partnership">partner with us</a> %>
          <%= link_to "partner with us", new_owner_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item me-3 active">
          <%# <a class="nav-link" href="#sign_up">sign up</a> %>
          <%= link_to "sign up", new_occupant_registration_path, class: "nav-link" %>
        </li>
        <%# <li class="nav-item me-3">
          <a class="nav-link" href="#">Link</a>
        </li> %>
        <li class="nav-item me-3">
          <%# <a class="nav-link" href="#"></a> %>
        </li>
      </ul>
      <%= render "layouts/session_manager" %>
    </div>
  </div>
</nav>